.container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 500px);
  gap: 10px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  background: none;
  grid-template-areas: "id time name";
}

.id {
  grid-area: id;
}

.time {
  grid-area: time;
}

.name {
  grid-area: name;
}
